body{
    background-color: lightgrey;
}


.tablero {
    width: 300px;
    height: 300px;
    margin:auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding:0;
}
.fila{
    display:flex;
    width: 100%;
    padding:0;
}
.posicion1{
    width: 100px;
    height: 100px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight:900;
}
.posicion2{
    width: 100px;
    height: 100px;
    border: 0;
    border-bottom:2px solid black;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight:900;
}
.posicion3{
    width: 100px;
    height: 100px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight:900;
}
.posicion4{
    width: 100px;
    height: 100px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight:900;
}
.posicion5{
    width: 100px;
    height: 100px;
    border:0;
    border-bottom: 2px solid black;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight:900;
}
.posicion6{
    width: 100px;
    height: 100px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight:900;
}
.posicion7{
    width: 100px;
    height: 100px;
    border:0;
    border-right: 2px solid black;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight:900;
  
}
.posicion8{
    width: 100px;
    height: 100px;
    border:0;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight:900;
}
.posicion9{
    width: 100px;
    height: 100px;
    border-left: 2px solid black;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight:900;
}

.juego {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.titulo {
    margin: auto;
    display: flex;
    justify-content: center;
}

.players{
    color: white;
}

.box{
    background-color: gray;
    height:200px;
    width: 700px;
    margin-top: 40px;
    padding-top: 50px;
    padding-left:150px;
}

h1{
    margin-left: 150px;
}
h3{
    margin-left: 50px;
}

.botones{
    font-size: 40px;

}

.boton1{
    color:rgb(218, 218, 46);
   margin-left: 60px;
   width: 70px;
}
.boton2{
    color:blue;
    margin-left: 100px;
    width: 70px;
   
}
p {
    margin-top: 50px;
    text-align: center;
    color: green;
    font-size: 30px;
    margin-left: 20px;
}